<div class="row">
    {% for post in page_obj %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow-sm">
                {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.url }}" class="card-img-top img-fluid" alt="{{ post.title }}" style="object-fit: cover; height: 200px;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'post_detail' pk=post.pk %}" class="text-dark text-decoration-none">
                            {{ post.title }}
                        </a>
                    </h5>
                    <p class="text-muted small">By {{ post.author }} on {{ post.created_at|date:"M d, Y" }}</p>
                    <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-sm btn-outline-primary">Read More</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12 text-muted text-center">No posts available.</div>
    {% endfor %}
</div>
