{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login - My Blog{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="content-section shadow-sm rounded">
        <h2 class="mb-4 text-center text-primary">Login</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-success text-center">Access Your Account</legend>
                {{ form|crispy }} <!-- Render the form using crispy filter -->
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-info btn-lg btn-block" type="submit">Login</button>
            </div>

            <!-- Forgot Password Link -->
            <div class="text-center mt-3">
                <a href="{% url 'password_reset' %}" class="text-danger">Forgot Password?</a>
            </div>
        </form>

        <div class="border-top pt-3 text-center">
            <small class="text-muted">
                Don't have an account? 
                <a href="{% url 'register' %}" class="text-info">Register here</a>.
            </small>
        </div>
    </div>
</div>
{% endblock %}
